# any image files
*.jpg
*.jpeg
*.tif
*.tiff

# Ignore vscode settings
.vscode/

# second layer of security
/ai-first-nations-data/*
/flask-application/uploads/*

# cache files
*/__pycache__/*

# local environment variables (database credentials)
.env
.secrets/
.venv/
